.header{
	background-color: #2E2D2C;
	min-height: 50px;
	padding: 10px 0;
	color: #ffffff;
}
.h1{
	padding: 30px 0;
}
.cb{
	padding:  10px 30px;
	color: black;
	margin-right: 20px;
}
#draggable{
	border: 1px solid;
	width: 150px;
 	height: 150px;
  	padding: 0.5em;
}
#draggable1, #draggable2, #draggable3 {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid;
 }
 .autoscroll{
 	border: 1px solid;
 	overflow: hidden;
 	padding: 50px;
 }
 .dropable{
 	border: 1px solid;
 	overflow: hidden;
 	padding: 50px;
 }
 #drag{
 	border: 1px solid;
 	width: 100px;
 	height: 100px;
  	padding: 0.5em;  	
  	float: left;
 }
 #drop{
 	border: 1px solid;
 	width: 200px;
 	height: 200px;
  	padding: 0.5em;
  	float: left;
  	margin-left: 50px;
 }

